# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
*~
*.sw[mnpcod]
*.log
*.lock
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace

*.log
log.txt
npm-debug.log*
$RECYCLE.BIN/
karma.conf.js

.idea/
.vscode/
.sass-cache/
.versions/
coverage/
collection/
dist/
dist-transpiled/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
core/theme-builder/
core/test-components/
core/css/
angular/css/

/.ionic
/.sass-cache
/.sourcemaps
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

src/themes/version.scss
scripts/e2e/webpackEntryPoints.json
scripts/build/e2e-generated-tsconfig.json


/src/assets
/src/environments
/e2e
package-lock\.json

*.css.ts

stats.json

# demo stuff
demos/node_modules
demos/polyfills
demos/css
demos/fonts
demos/src/**/*.js
demos/src/**/*.map
demos/src/**/*.ngfactory.ts
demos/src/**/*.d.ts
demos/src/**/*.metadata.json
demos/src/**/*.css.shim.ts
prerender.html
prerender-domino.html
prerender-hydrated.html
prerender-static.html

# stencil
angular/css/
packages/react/css/
core/css/
core/hydrate/
core/loader/
core/www/
.stencil/
angular/build/
